.header {
  padding: 1rem;
  background-color: var(--background);
  box-shadow: 0 2px 4px var(--shadow);
}

.title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary);
}

.titleSecondWord{
 
    color: var(--secondary);
}